body{
	background-color: pink;
}

h1{
	text-align: justify;
	color: blue;
}

p{
	color: pink
}

h2{
	text-align: justify;
	color: blue;
}

img{
	border-radius: 80%;
	width: 400px;
	height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}